body {
    background-color: cornsilk;
}
h1 {
     font-family: verdana;
     font-style:italic;   
}
p {
	font-family: arial;
}

a:hover {
	font-size:150%;
<<<<<<< HEAD
}
div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;}
    
#footer {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	text-align: center;
	}
=======
}
>>>>>>> branch 'master' of https://github.com/ng1417/ng1417.github.io.git
