body {
    background-color: cornsilk;
}
h1 {
     font-family: verdana;
     font-style:italic;   
}

nav {
	padding: 10px;
}

section {
    margin: 25px;
}

footer {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	padding: 10px;
	}
	
table, th, td {
	border-collapse:collapse;
	border:1px solid black;
	text-align:center;
	padding-left: 5px;
	padding-right: 5px;
	}
	
div.panel, div.flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

div.panel {
    padding: 50px;
    display: none;
}

input.num, input.money {text-align: right;}

 label {
    display: inline-block;
    width: 5em;
  }


