@charset "ISO-8859-1";

body {
	background-color: #CCCCFF;
}

img {
	display: block;
	margin: 0 auto;
}

p {
	text-align: center;
	font-family: Georgia;
	font-size: 18px;
}

p.main {
	text-align: left;
	font-family: Georgia;
	font-size: 15px;
	color: #3300CC;
}

#content {
	width: 425px;
	margin: 0px auto;
	padding: 50px;
	text-align: left;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	padding: 5px;
	background-color: #99CCFF;
	color: black;
}

td {
	padding: 5px;
	color: #000099;
}

.originalBody {
	background-color: #CCCCFF;
	font-family: Georgia;
	color: #0000CC;
}

.pinkme td {
	border: 4px solid pink;
	background-color: #C8C8C8;
}

#originalTable td {
	text-align: center;
}

.blue {
	background-color: #81ABEA;
}

.white {
	background-color: white;
}

.italic {
	font-style: italic;
}

.normal {
	font-style: normal;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.small {
	font-size: 8px;
}

.medium {
	font-size: 14px;
}

.large {
	font-size: 20px;
}